<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
			<li ng-repeat="item in menu">
				<a href="{{item.href}}">{{item.nome}}</a>
			</li>
		  </ul>
		</div>
	</div>
</nav>
	
<div ui-view="conteudo"></div>